# ─── Compartilhado (mesmo valor nos 3 serviços) ──────────────────────────────
JWT_SECRET=serFeiranteEDificil

# ─── RabbitMQ ─────────────────────────────────────────────────────────────────
RABBITMQ_URL=amqp://feira:feira123@localhost:5673

# ─── Auth Service (porta 3000) ────────────────────────────────────────────────
AUTH_DATABASE_URL=postgresql://postgres:postgres@localhost:5435/auth_db
AUTH_PORT=3000

# ─── Admin Service (porta 3001) ───────────────────────────────────────────────
ADMIN_DATABASE_URL=postgresql://postgres:postgres@localhost:5436/admin_db
ADMIN_PORT=3001
AUTH_URL=http://localhost:3000
FEIRANTE_URL=http://localhost:3002

# ─── Feirante Service (porta 3002) ────────────────────────────────────────────
FEIRANTE_DATABASE_URL=postgresql://postgres:postgres@localhost:5437/feirante_db
FEIRANTE_PORT=3002
